/* grid system */
$grid-columns: 12;
$grid-breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

/* container widths */
$container-max-widths: (
  "xs": 100%,
  "sm": 96%,
  "md": 94%,
  "lg": 94%,
  "xl": 1140px,
  "xxl": 1320px,
);

/* gutter */
$gutter: (
  "xs": 3rem,
  "sm": 4rem,
  "md": 4rem,
  "lg": 4.8rem,
  "xl": 4.8rem,
  "xxl": 4.8rem,
);
