/* grid system */
$grid-columns: 12;
$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px,
);

/* container widths */
$container-max-widths: (
  'xs': 100%,
  'sm': 96%,
  'md': 94%,
  'lg': 94%,
  'xl': 1140px,
  'xxl': 1320px,
);

/* gutter */
$gutter: (
  '1': 1.6rem,
  '2': 2rem,
  '3': 2.4rem,
  '4': 2.8rem,
  '5': 3.2rem,
);
