/* reset default styles browser */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Prevent font size inflation + set core font-size */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  min-height: 100vh;
}

/* Set image responsive */
:is(picture, video, canvas, svg, img) {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Balance text wrapping on headings + Prevent text from overflowing */
:is(h1, h2, h3, h4, h5, h6, p) {
  text-wrap: balance;
  overflow-wrap: break-word;
}

:is(ul, ol) {
  list-style: none;
}

/* Remove default appearance based on browser */
:is(input, textarea, select) {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Allow only resize vertical on textarea */
textarea {
  resize: vertical;
}

/* Set shorter line heights on headings and interactive elements */
:is(label, button, input) {
  line-height: 1.1;
}

/* Remove underline text on the link tag */
a {
  text-decoration: none;
}

/* Responsive table */
table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
}

/* disable animations */
@media (prefers-reduce-motion: reduce) {
  * {
    transition-duration: 0 !important;
    animation-duration: 0 !important;
  }
}
